.Select {
  margin-bottom: 15px;

  label {
    margin: 0 0 3px 0;
    display: block;
    padding: 0;
    font-weight: bold;
  }

  select {
    display: block;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    border-radius: 5px;
    margin: 0 0 5px;
    height: 29px;
    width: 100%;
    outline: none;
    transition: all .3s ease-in-out;
  }
}
